body{
  background-color: red;
}
.titleHeader {
  text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    margin-bottom: 100px;
    background-color: yellow;
}

.flex-item {
    display: flex;
    margin: 3px;
    width: 33%;
    flex-wrap: wrap;
    border: 3px red solid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 508px;
}

.heroData {
    height: 150px;
    align-items: center;
    justify-content: center;
    width: 45%;
    border:none;
}

img.flex-item.heroData {
    border-radius: 50%;
}
img.titleHeader {
    margin: auto;
    display: block;
}
.container.jumbotron {
  background-color: black;
  color: yellow;
}

img.headerImage {
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 50%;
    /* text-align: center; */
}

.postTitle{
  text-align: center;
}

.postContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.postItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

label.postLabel {
    margin-right: 10px;
}
